.marcoTabla{
    border-radius: 8px;
    border: 2px solid #004f7c;
    display: inline-block;
    
    /* background-color: #004f7c; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.tblReporte{
    /*border-spacing: 5px 0px;*/
    /* background-color: #ffffff; */
    border: 0;
/*    margin-left: -6px;*/
    /*margin-right: -6px;*/
}
.tblReporte tr{
}

.tblReporte tr td{
/*    border-bottom: 1px solid #004f7c;
    padding: 5px;*/
    width: 260px;
/*    border-right: 1px solid #004f7c;
    border-left: 1px solid #004f7c;
    border-radius: 0;
    text-align: center;*/
}

td.impar{
    background-color: #C8DCFF;  
}

.tdHeader{
    color: #FFFFFF;
    height: 35px;
    border-bottom: 4px solid #004f7c !important;
    border-top: 0 !important;
    text-shadow: 0px 2px 3px #555;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    font-family: cursive;
    background-color: #01549F;
}
.imgAdd{
    height: 32px;
    width: 32px; 
    float: right;
    cursor: pointer;
}
.sltCliente{
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
}
.inputClienteBusqueda{
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
}

.marcoDiv{
    border-radius: 8px;
    border: 2px solid #004f7c;
    display: inline-block;
}

fieldset{
    border-color: #003767;
    border-radius: 5px;
}

fieldset legend{
    color:#01549F;
}